/*
 * Generated Dinesh
 */

package com.sig.team.webworks.ekirana.crud.repository;

import org.springframework.data.repository.CrudRepository;
import org.springframework.data.repository.PagingAndSortingRepository;
import org.springframework.data.rest.core.annotation.RepositoryRestResource;

import com.sig.team.webworks.ekirana.crud.entity.$domain;



/**
 * @author Dinesh
 *
 */
@RepositoryRestResource
public interface $repositoryName extends CrudRepository<$domain, Integer>, PagingAndSortingRepository<$domain, Integer>{

	

}